<div fxLayout="column" fxLayoutGap="24px">
  <div class="section-header">Offer Extended</div>

  <div fxFlex class="app-container" *ngFor="let candidature of candidatures">
    <div fxLayout="row" fxLayoutAlign="start start" class="candidate-container">
      <app-personal-information
        fxFlex="25"
        [personalInformation]="candidature.personalInformation"
      ></app-personal-information>

      <div fxLayout="row" fxFlex="30" fxLayoutAlign="center start" class="offer-container">
        <div fxFlex="33" fxLayout="column" class="label-control">
          <span>Offer Extended on</span>
          <div>
            {{ candidature.candidatureOffer.extendedOn | date: 'dd MMM yyyy' }}
          </div>
        </div>

        <div fxFlex="33" fxLayout="column" class="label-control">
          <span>Offer Accepted on</span>
          <div>
            {{ candidature.candidatureOffer.acceptedOn | date: 'dd MMM yyyy' }}
          </div>
        </div>

        <div fxFlex="33" fxLayout="column" class="label-control">
          <span>Date of Joining</span>
          <div>
            {{ candidature.candidatureOffer.dateOfJoining | date: 'dd MMM yyyy' }}
          </div>
        </div>
      </div>

      <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center" class="offer-container">
        <div fxFlex="50" fxLayout="column" class="label-control">
          <span>Joining Status</span>
          <a [matMenuTriggerFor]="joiningStatusList">
            <div fxLayout="row" fxLayoutGap="8px">
              <mat-icon svgIcon="good"></mat-icon>
              <mat-icon svgIcon="dropdown"></mat-icon>
            </div>
          </a>
        </div>

        <div fxFlex="50" fxLayout="column" class="label-control">
          <span>B.V</span>
          <a [matMenuTriggerFor]="joiningStatusList">
            <div fxLayout="row" fxLayoutGap="8px">
              <mat-icon svgIcon="good"></mat-icon>
              <mat-icon svgIcon="dropdown"></mat-icon>
            </div>
          </a>
        </div>
      </div>

      <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-between start" class="comment-container">
        <span class="small-label-font">{{ candidature.comment }}</span>
        <div>
          <a [matMenuTriggerFor]="moreOption"> <mat-icon svgIcon="more"></mat-icon> </a>
        </div>
      </div>
    </div>

    <mat-menu #joiningStatusList="matMenu">
      <button mat-menu-item class="mat-icon-button">
        <mat-icon svgIcon="good"></mat-icon>
      </button>
      <mat-divider></mat-divider>
  
      <button mat-menu-item class="mat-icon-button">
        <mat-icon svgIcon="average"></mat-icon>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="mat-icon-button">
        <mat-icon svgIcon="rework"></mat-icon>
      </button>
    </mat-menu>
  
    <mat-menu #moreOption="matMenu">
      <button mat-menu-item (click)="OnEditComment(candidature)">EDIT COMMENT</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>HIDE CANDIDATE</button>
    </mat-menu>

  </div>

  
</div>
