@import 'brands/tokens';

.candidate-container {
  height: 112px;
  padding: $space-m;
}

.offer-container {
  > div {
    height: 100%;
    border-right: 1px solid $color-border-gray-2;
    padding: $space-s;
  }
}

.comment-container {
  padding: $space-m;
}
