@import 'brands/tokens';

:host {
  background: $color-white;
  border: 1px solid $color-border-gray;
  display: flex;
  flex-direction: column;
}

.label-control {
  border-right: 1px solid $color-border-gray-2;
  padding-right: $space-l;
}

.interview-round-container {
  height: 72px;
}

.reference-container div {
  font-style: normal;
  font-weight: $font-weight-light;
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  color: $color-dark-font;
}

.comment-container {
  padding: $space-m;
}

a {
  cursor: pointer;
}
