<div fxFlex fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <app-personal-information
    fxFlex="25"
    [personalInformation]="candidature.personalInformation"
  ></app-personal-information>

  <div fxLayout="row" fxFlex="30" fxLayoutAlign="center center">
    <div fxFlex="25" *ngFor="let interviewRound of candidature.interviewRound" class="interview-round-container">
      <app-interview-round fxFlex fxFlexFill [interviewRound]="interviewRound"></app-interview-round>
    </div>
  </div>

  <div fxLayout="row" fxFlex="20" class="reference-container">
    <div fxFlex="50" fxLayoutAlign="center center">{{ candidature.referenceCheck.leads }}</div>
    <div fxFlex="50" fxLayoutAlign="center center">{{ candidature.referenceCheck.captured }}</div>
  </div>

  <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-between start" class="comment-container">
    <span class="small-label-font">{{ candidature.comment }}</span>
    <div>
      <a [matMenuTriggerFor]="moreOption"> <mat-icon svgIcon="more"></mat-icon> </a>
    </div>
  </div>
</div>

<mat-menu #moreOption="matMenu">
  <button mat-menu-item>EDIT COMMENT</button>
  <mat-divider></mat-divider>
  <button mat-menu-item>HIDE CANDIDATE</button>
</mat-menu>
