@import 'brands/tokens';

.mat-toolbar.mat-primary {
  background: $color-white;
  box-shadow: 0px 3px 8px 0px $color-dark-font;
}

.header-title {
  font-style: normal;
  font-weight: $font-weight-large;
  font-size: $font-size-l;
  line-height: $line-height-l;
  color: $color-dark-font;
}
