<h1 fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
  <div>Edit Comment</div>

  <button mat-button>&times;</button>
</h1>
<div fxLayout="row" fxFlexFill mat-dialog-content (key.esc)="dialogRef.close()">
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="commentFormControl" placeholder="Comment" />
    <mat-error *ngIf="commentFormControl.hasError('required')"> Comment is <strong>required</strong> </mat-error>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSaveComment()">Save</button>
</div>
