<div fxLayout="column" fxLayoutGap="24px" class="prospect-container" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="section-header">Prospects</div>

  <div fxLayout="row" class="app-container medium-label-font prospect-table-header">
    <div fxFlex="25">Candidate Details</div>
    <div fxFlex="30">Interview schedule</div>
    <div fxFlex="20">Reference Check</div>
    <div fxFlex="25">comments</div>
  </div>

  <div class="small-label-font prospect-table-sub-header">
    <div fxLayout="row" fxFlex="20" fxFlexOffset="53">
      <div fxFlex="50">Leads</div>
      <div fxFlex="50">Captured</div>
    </div>
  </div>
  <app-prospect class="prospect-box" *ngFor="let candidature of candidatures" [candidature]="candidature" cdkDrag>
  </app-prospect>
</div>
