@import 'brands/tokens';

.prospect-table-header {
  padding: $space-m;
  div {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-label-title;
  }
}

.prospect-table-sub-header {
  div {
    font-size: $font-size-s;
    line-height: $line-height-s;
    text-align: center;
    text-transform: uppercase;
    color: $color-label-title;
  }
}

.prospect-box {
  cursor: move;
}

.cdk-drag-preview {
  border: 1px solid $color-border-blue;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.prospect-container.cdk-drop-list-dragging .prospect-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
