.prospect-table-header {
  padding: 12px;
  div {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8a8a8a;
  }
}

.prospect-table-sub-header {
  div {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #8a8a8a;
  }
}

.prospect-box {
  cursor: move;
}

.cdk-drag-preview {
  border: 1px solid #65a2f7;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.prospect-container.cdk-drop-list-dragging .prospect-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
