<div fxFlex fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <app-personal-information></app-personal-information>

  <div fxLayout="column" class="label-control">
    <mat-icon svgIcon="good"></mat-icon>
    <span>Hire</span>
    <div class="label-value">
      {{ '21 Jul 2020' }}
    </div>
  </div>

  <div fxLayout="column" class="label-control">
    <span class="label-text">Awaiting Feedback</span>
  </div>

  <div fxLayout="column" class="label-control">
    <mat-icon svgIcon="good"></mat-icon>
    <span>Hire</span>
    <div class="label-value">
      {{ '21 Jul 2020' }}
    </div>
  </div>

  <div fxLayout="column" class="label-control">
    <mat-icon svgIcon="calendar"></mat-icon>

    <div class="label-value">
      {{ '21 Jul 2020' }}
    </div>
  </div>

  <div fxLayout="column" class="label-control">
    <span class="label-text">Joining Status</span>
    <a mat-button [matMenuTriggerFor]="joiningStatusList">
      <mat-icon svgIcon="good"></mat-icon>
      <mat-icon svgIcon="dropdown"></mat-icon>
    </a>
  </div>

  <div fxLayout="column" class="label-control">
    <span class="label-text">B.V</span>
    <a mat-button [matMenuTriggerFor]="joiningStatusList">
      <mat-icon svgIcon="good"></mat-icon>
      <mat-icon svgIcon="dropdown"></mat-icon>
    </a>
  </div>
</div>

<mat-menu #joiningStatusList="matMenu">
  <button mat-menu-item class="mat-icon-button">
    <mat-icon svgIcon="good"></mat-icon>
  </button>
  <mat-divider></mat-divider>

  <button mat-menu-item class="mat-icon-button">
    <mat-icon svgIcon="average"></mat-icon>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="mat-icon-button">
    <mat-icon svgIcon="rework"></mat-icon>
  </button>
</mat-menu>
